body{
	background: url(../image/pic3.jpg);
	height: 100vh;
	background-size: 100% 700px;
	background-position: center;  
	font-family: sans-serif;
}
.btn-sm{padding:2px 10px;font-size:12px;line-height:1;
	margin: 5px;

	border-radius:3px}
.btn-acc{background-color:  green; color: white;}
.btn-rej{background-color:  red; color: white;}
#alertAll{
	color: red;
	text-align: center;
	font-weight: bold;
	padding-left: 100px;
	padding-top: 100px;
	padding-bottom: 100px;
	font-size: 20px;
}
nav{
	background-color: #32634d;
	color: #ffffff;
	list-style: none;
	text-align: center;
	width: 100%
}
h4{
	color: red;
}
ul{
	width: 80%;
	margin: 0 auto;
	padding: 0;
}
ul li{
	list-style: none;
	display: inline-block;
	padding: 20px;
}
ul li:hover{
	background: #8ddd93;
}
ul li a{
	color: #ffffff;
	text-decoration: none;
}
span#nameerror{
	color: rgb(255,0,0);
	text-decoration: underline;
	font-weight: bold;
}
span#fnameerror{
	color: rgb(255,0,0);
	text-decoration: underline;
	font-weight: bold;
}
span#emailerror{
	color: rgb(255,0,0);
	text-decoration: underline;
	font-weight: bold;
}
span#regerror{
	color: rgb(255,0,0);
	text-decoration: underline;
	font-weight: bold;
}
span#phoneerror{
	color: rgb(255,0,0);
	text-decoration: underline;
	font-weight: bold;
}

.main-wrapper{
	width: 600px;
	margin: 0 auto;
	color: white;
	background: rgba(0,0,0,.5);
	opacity: 0.8;
	padding: 3px;
	border-radius: 10px;
	transition: .5s;
}
.big-wrapper{
	width: 200px;
	margin: 0 auto;
	color: white;
	background: rgba(0,0,0,.5);
	opacity: 0.8;
	padding: 3px;
	border-radius: 10px;
	transition: .5s;
}
.profile{
	width:120px;
	text-align: center;

}
.myform{
	width: 450px;
	margin: 0 auto;

}
.form{
	width: 450px;
	margin: -1 auto;

}

.inputvalues{
	width: 402px;
	margin:0 auto;
	padding:3px;
}
.half{
	height:30px;
	width: 192px;
	margin:0 auto;
	padding:1px;
}
.small{
	width: 35px;
	margin:0 auto;
	padding:3px;
}
.big{
	width: 120px;
	margin:0 auto;
	padding:3px;
}

#login_btn{
	margin-top: 10px; 
	background-color: #2ecc71;
	padding: 4px;
	color: white;
	width: 46%;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
#next_btn{
	margin-top: 10px; 
	background-color: #9b59b6;
	padding: 4px;
	color: white;
	width: 46%;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
#back_btn{
	margin-bottom: 20px;
	margin-top: 10px; 
	background-color: #e67e22;
	padding: 4px;
	color: white;
	width: 46%;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
#signin_btn{
	margin-top: 10px; 
	background-color: #3498db;
	padding: 4px;
	color: white;
	width: 46%;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
#logout_btn{
	margin-top: 10px; 
	background-color: #e74c3c;
	padding: 4px;
	color: white;
	width: 92%;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}